.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NotLoggedInWarning {
  background-color: lightcoral;
  color: whitesmoke;
  text-align: center;
}

.LogoutButton {
  margin: auto;
  clear: both;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: lightcoral;
  font-weight: bold;
  flex-wrap: wrap;
  border: 3px solid red;

}

.center {
  float: left;
  height: 50%;
  width: 100%;
  margin-bottom: -50px;
  display: flex;
}

.floater {
  height: 250px;
}


