.LoginWindow {
   align-content: center;
   text-align: center;

}
.LoginContent {
    background-color: aliceblue;
    margin: auto;
    align-content: center;
    width: 50%;
}

.Invalid {
    background-color: aliceblue;
    align-content: center;
    color: red;
}