.navBar {
    background-color: darkgray;
    margin-left: 2%;
    width: 10%;
    height: 100%;
    position: fixed;
}

.navBarContent {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
    padding: 20%;
    border: 3px solid black;
    border-radius: 10%;
}

.profileWindow {
    background-color: darkgray;
    margin-left: 2%;
    width: 10%;
    height: 100%;
}

.linkStyle {
    color: whitesmoke;
}

.post {
    align-content: left;
    margin: auto;
    width: 40%;
    height: auto;
    background-color: whitesmoke;
}

.postBackground {
    text-align: center;
    align-content: center;
    margin: auto;
    padding-bottom: 5%;
    width: 60%;
    background-color: aliceblue;
}

.buttonExt {
    text-align: center;
    border: 2px solid lightgray;
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.spanFirst {
    align-content: left;
}

.spanSecond {
    align-content: right;
}
/* 
.postContent {
    
}

.postPublisher {

} */